/*

* {
    box-sizing: border-box;
    color: white;
    text-shadow: 0px 0px 8px rgb(52, 52, 52);
    text-align: center;
}

html {
    margin: 0;
}

body {
    background-image: url(https://wallpapercave.com/wp/wp3082397.jpg);
    background-position: center center;
    background-size: cover;
   
}

header {
    background-image: ;
    background-position: center 100%;
    background-size: cover;
    padding: 0px 0px 15px 0px;
}

header h1 {
    margin: 0;
    padding: 20px 0px 0px 0px;
    font-size: 60px;
    
    
}

#current-date {
    font-size: 25px;
    padding: 0px 0px 20px 0px;
    
}

#search-bar {
    text-shadow: none;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    display: block;
    margin: auto;
    color: black;

    
}

#current-info {
    padding:0px 0px 20px 0px;
}

#current-temp {
    padding:5px 0px 30px 0px;
}

#current-wind, #current-humidity {
    padding: 0px 20px;
}


#forecast-container {
    margin: 0px 5%;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 10px 25px;
    height: 60vh;
}

#forecast-container h1 {

    
}


#_5day-container {
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
}


footer {

    font-size: 10px;
  
}

*/
